#
todos.md

in
input*
input.txt
out
output*
output.txt

a.out
*a.out
.*class

# ** no file should  start  with
# _ is common flag that means not tracking!
_*
test*
testing*
'
"
2

.cph*
.vscode
*log

__pycache__


chatgpt*
gpt*
ai*
net*


target
Cargo.lock
Cargo.toml
